/* Ensure the container and its parent elements fill the entire viewport */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%; /* Two equal-width columns */
  grid-template-rows: 20% 40% 40%; /* Three rows, automatically sized */
  gap: 5px; /* Adds space between grid items */
  grid-template-areas:
    "LineChart TBD"
    "Choropleth Rooftop_Matrix"
    "Parallel_coordinates Filters";
  height: 100%; /* Occupies the full page height */
  width: 100%; /* Occupies the full page width */
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.Choropleth {
  grid-area: Choropleth;
}

.Rooftop_Matrix {
  grid-area: Rooftop_Matrix;
}

.Parallel_coordinates {
  grid-area: Parallel_coordinates;
}

.LineChart {
  grid-area: LineChart;
}

.Filters {
  grid-area: Filters;
}

.TBD {
  grid-area: TBD;
}

.placeholder1 {
  background-image: url('/placeholders/rooftop_1.png');
  background-size: 75%; 
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.placeholder3 {
  background-image: url('/placeholders/filters.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.placeholder5 {
  background-color: gray;
  height: 100%;
  width: 100%;
}

.Choropleth, .Rooftop_Matrix, .Parallel_coordinates, .LineChart, .Filters, .TBD {
  border: 1px solid black;
}

.tbd-text {
  font-family: Arial, sans-serif;
  font-size: 7vh;
  color: black;
  text-align: center; /* Centers the text horizontally */
  line-height: 100%; /* Adjust the line-height to center the text vertically */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* New styles for the parallel coordinates chart */
.Parallel_coordinates svg {
  width: 100%;
  height: 100%;
}

.Parallel_coordinates .axis text {
  font-size: 10px;
}

.Parallel_coordinates .axis line,
.Parallel_coordinates .axis path {
  stroke: #000;
}

.Parallel_coordinates .line {
  fill: none;
  stroke-width: 1.5px;
  stroke-opacity: 0.4;
}

/* Style for axis lines and paths */
.axis path,
.axis line {
  stroke: black; /* Ensures axes are clearly visible */
  stroke-width: 1px;
}

/* Style for axis labels */
.axis text {
  font-size: 12px; 
  fill: black; /* Contrast color */
  paint-order: stroke; /* Ensures text outlines are rendered */
  stroke: white; /* Adds a white outline to text for better contrast */
  stroke-width: 0.5px;
}

/* Enhance visual feedback for selected lines */
.lines path.selected {
  stroke: orange; /* Choose a distinct color for selected lines */
  stroke-width: 3px; /* Slightly thicker for emphasis */
  opacity: 1; /* Fully opaque */
}

/* Ensure hover styling precedes selected styling */
.lines path:hover {
  stroke: red;
  stroke-width: 3px;
  opacity: 1;
}
