.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  grid-template-rows: 1fr 3fr 3fr;  /* Two rows, automatically sized */
  gap: 5px; /* Adds space between grid items */
  grid-template-areas:
    "LineChart TBD"
    "Choropleth Rooftop_Matrix"
    "Parallel_coordinates Filters";
  max-height: 100vh;
  max-width: 100vw;
}

.Choropleth {
  grid-area: Choropleth;
}

.Rooftop_Matrix {
  grid-area: Rooftop_Matrix;
}

.Parallel_coordinates {
  grid-area: Parallel_coordinates;
}

.LineChart {
  grid-area: LineChart;
}

.Filters {
  grid-area: Filters;
}

.TBD {
  grid-area: TBD;
}

.placeholder1 {
  background-image: url('/placeholders/rooftop_1.png');
  background-size: 75%; 
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.placeholder3 {
  background-image: url('/placeholders/filters.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.placeholder5 {
  background-color: gray;
  height: 100%;
  width: 100%;
}

.Choropleth, .Rooftop_Matrix, .Parallel_coordinates, .LineChart, .Filters, .TBD {
  border: 1px solid black;
}

.tbd-text {
  font-family: Arial, sans-serif;
  font-size: 7vh;
  color: black;
  text-align: center; /* Centers the text horizontally */
  line-height: 100%; /* Adjust the line-height to center the text vertically */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* New styles for the parallel coordinates chart */
.Parallel_coordinates svg {
  width: 100%;
  height: 100%;
}

.Parallel_coordinates .axis text {
  font-size: 10px;
}

.Parallel_coordinates .axis line,
.Parallel_coordinates .axis path {
  stroke: #000;
}

.Parallel_coordinates .line {
  fill: none;
  stroke-width: 1.5px;
  stroke-opacity: 0.4;
}
